Source: subgraph-oz-profiles
Section: admin
Priority: optional
Maintainer: Subgraph <info@subgraph.com>
Build-Depends: debhelper (>= 10), dh-systemd
Standards-Version: 3.9.8
Homepage: https://github.com/subgraph/subgraph-oz-profiles
Vcs-Git: https://github.com/subgraph/subgraph-oz-profiles.git
XS-Go-Import-Path: github.com/subgraph/subgraph-oz-profiles
Vcs-Browser: https://github.com/subgraph/subgraph-oz-profiles

Package: subgraph-oz-profiles
Architecture: all
Breaks: oz-daemon (<< 0.1.1-1)
Provides: oz-profiles
Depends: oz-daemon (>= 0.1.1-1), subgraph-landings, ${shlibs:Depends}, ${misc:Depends}
Description: Subgraph OZ Sandboxing Profile
 This package contains curated OZ sandbox profiles and seccomp filters.
 These profiles are curated to provide sandboxes for various user
 programs; such as torbrowser-launcher, evince, eog, coyim, and others.
 Most of these profiles also include curated seccomp whitelists for
 use with these sandboxes.
